.exp{
    background-color:black;
    text-align:center;
}

.exp .container {
    margin-top:30px;
}

.inactive{
    display:none;
}

.timer {
    color:white;
}

.timer select {
    color:gray;
}

.timer input[type='number']{
    width:70px;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
}