.exp{
    background-color:black;
    text-align:center;
}

.exp .container {
    margin-top:30px;
}

.inactive{
    display:none !important;
}

.timer {
    color:white;
}

.timer select {
    color:gray;
}

.timer input[type='number']{
    width:70px;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

/** { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }*/

@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*body.exp { background:#222;  }*/

.card .card-image img {
    margin:0 auto;
}

.card .card-content, .card .card-reveal {
    padding:16px !important;
}

i.right {
    margin-left: 0px !important;
}

.mycard {
    padding:0 5px !important;
}

.container {
    padding-left:0px !important;
    padding-right:0px !important;
}

.cards {
    background-color:#f9f9f9;
}

.card {
    margin-bottom:0px !important;
}

.toprow {
    margin-bottom:3px !important;
}

.timertext {
    text-align:center;
    margin: 25px;
    font-size: 1.5em;
    color: lightgrey;
}

.timerform {
    text-align:center;
}

.timerform label {
    font-size:1.2em !important;
    vertical-align: -webkit-baseline-middle !important;
    font-weight:400;
}

input[type=number]{
    font-size:1.2em;
    margin: 0px;
    padding:0px 0px 0px 10px;
}